*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b392ac;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
height: 18vmin;
width:18vmin ;
border-radius: 1rem;
box-shadow: 0 0 0.3rem;
font-size: 8vmin;
color: #4361ee;
background-color: #f7ede2;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ffdab9; 
    border-radius: 1rem;
}

#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ffdab9; 
    border-radius: 1rem;
}
#msg{
    color: #076d72;
    font-size: 10vmin;
}
.msg-container{
  height: 110%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.hide{
  display: none;  
}